<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://xebia.com/">
                        Xebia
                    </a>
                </li>
                <li>
                    <a href="https://medium.com/xebia-engineering">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Xebia IT Architects
        </div>
    </div>
</footer>
