<div class="card">
  <div class="card-header card-header-warning">
      <h4 class="card-title">Upcoming Talks</h4>
      <p class="card-category">Next XKE is on {{nextXKEDate | date: 'dd MMMM yyyy'}}</p>
  </div>
  <div class="card-body table-responsive">
      <table class="table table-hover">
          <thead class="text-warning">
              <th>ID</th>
              <th>Speaker</th>
              <th>Topic</th>
              <th>Description</th>
          </thead>
          <tbody>
              <tr *ngFor="let session of upcomingSessions" (click)="onSessionSelection(session.id)">
                    <td>{{session.id}}</td>
                    <td>{{session.speakerId}}</td>
                    <td>{{session.title}}</td>
                    <td>{{session.description}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>