<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/xebia-logo.png"/>
        </div>
        <br/>
            Knowledge Exchange
        
    </a>
</div>

<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="'/'+[menuItem.route.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <ul class="nav">
        <li routerLinkActive="active" class="nav-item sidebar_button_bottom" *ngIf="!isAuthenticated">
            <a class="nav-link" [routerLink]="'/login'">
                <i class="material-icons">person</i>
                <p>Login</p>
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item sidebar_button_bottom" *ngIf="isAuthenticated">
            <a class="nav-link" [routerLink]="'/logout'">
                <i class="material-icons">person</i>
                <p>Logout</p>
            </a>
        </li>
    </ul>
</div>
